[bumpversion]
current_version = '3.0.0-alpha'
commit = False
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+))?
serialize =
    {major}.{minor}.{patch}-{release}
    {major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = gamma
values =
    alpha
    beta
    gamma

[bumpversion:file:./taurex/_version.py]

[bumpversion:file:./doc/source/conf.py]

[bumpversion:file:setup.py]