astropy==4.1
cached-property==1.5.2
configobj==5.0.6
h5py==3.0.0
llvmlite==0.34.0
nestle==0.2.0
numba==0.51.2
numexpr==2.7.1
numpy==1.19.4
scipy==1.5.3
six==1.15.0
tabulate==0.8.7
-e git+https://github.com/ucl-exoplanets/TauREx3.git@ed990103846786b27d28b2dc4b7f4613e550b92a#egg=taurex
